{#
This is a generic HTML5 wrapper that should be suitable for any web page to extend
#}

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}The wedly{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="{% block metaDescription %}Pinterest-like{% endblock %}"/>
        <meta name="keywords" content="{% block metaKeywords %}Pinterest-like{% endblock %}"/>
        <meta name="viewport" content="initial-scale = 1.0, user-scalable = no">
        <script type="text/javascript">
            if (/(iPhone|iPod).*AppleWebKit.*Mobile.*Safari/.test(navigator.userAgent) ) {
                var headNode = document.getElementsByTagName("head")[0];
                var sbNode = document.createElement('meta');
                sbNode.name = 'apple-itunes-app';
                sbNode.content = 'app-id={#{ site['apple_app_id'] }#}';
                headNode.appendChild(sbNode);
            }
        </script>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
                'bundles/pinanobootstrap3/css/bootstrap.css'
                'bundles/pinanobootstrap3/css/bootstrap-theme.css'
                '@PinterestLikeStaticBundle/Resources/public/css/main.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    {% set site_data = get_site_data() %}
    <body {% block bodyData %}{% endblock bodyData %} class="{% block bodyClass %}{% endblock bodyClass %}{% if app.user is not empty %} logged-in{% endif %}">
        {% block bodyStart %}{% endblock bodyStart %}
        {% block header %}
                        </header>
        {% endblock header %}

        {# everything between the header and footer #}
        {% block main %}
            <div class="main-block">
                <div class="container">
                    <div class="col-md-12">
                        {% block flashMessages %}
                            {{ include('PinterestLikeStaticBundle:FlashMessages:flashMessages.html.twig') }}
                        {% endblock flashMessages %}

                        {% block body %}
                        {% endblock body %}
                    </div>
                </div>
            </div>
        {% endblock main %}

        {% block footer %}

        {% endblock footer %}

        {% block javascriptsBottom %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            {% javascripts
                '@PinanoBootstrap3Bundle/Resources/public/js/bootstrap.js'
                '@PinterestLikeStaticBundle/Resources/public/js/isotope.pkgd.min.js'
                '@PinterestLikeStaticBundle/Resources/public/js/imagesloaded.pkgd.min.js'
                '@PinterestLikeStaticBundle/Resources/public/js/jquery.contenthover.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascriptsBottom %}
        {% block bodyEnd %}{% endblock bodyEnd %}
    </body>
</html>