{% extends 'base.html.twig' %}

{% block header %}
    {% set headerVersion = 'large' %}
    {{ parent() }}
{% endblock header %}

{% block body %}

    <div class="text-center loading-img">
        <img src="{{ asset('/bundles/pinterestlikestatic/images/ajax-loader.gif') }}" alt="loading" />
    </div>

    <br />

    <div class="row" id="cards">
        {% for media in allMedia %}
            {% include 'PinterestLikeCoreBundle:Default:media-block.html.twig' with {'size': 5} %}
        {% endfor %}
    </div>

    <!-- Creates the bootstrap modal where the image will appear -->
    <div class="modal fade modal-vendor-more-info" id="modal-vendor-more-info" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascriptsBottom %}

    {{ parent() }}

    {# TODO - move to a js file to be cached #}
    {% include 'PinterestLikeCoreBundle:Default:media-block.js.twig' %}

{% endblock javascriptsBottom %}