body {
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}

/*
header {
    z-index: 9999;
    position: relative;
}
*/

header .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #35cccc;
}

header .sub-header {
    background-color: #FFF;
    line-height: 80px;
    vertical-align: middle;
}

header .sub-header a {
    color: #424242;
}

header .sub-header #search-box {
    line-height: 24px;
    height: 24px;
    padding: 0px 5px;
    border: 1px solid #777777;
}

header .sub-header form button  {
    margin-top: -10px;
}

header .sub-header form .input-group {
    padding-top: 20px;
    max-width: 230px;
}

input {
    border-radius: 2px;
    margin: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.2142em;
    padding: .67861em 1em;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    color: rgba(0,0,0,.8);
    border-radius: 4px;
    -webkit-transition: background-color .2s ease,box-shadow .2s ease,border-color .2s ease;
    transition: background-color .2s ease,box-shadow .2s ease,border-color .2s ease;
    box-shadow: none;
}

a.link {
    color: #f38eaa;
}

.registration .tab {
    padding: 0px;
}

.top-margin-modal .modal-content {
    background-color: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    border: 0px;
}

.top-margin-modal .modal-dialog {
    margin-top: 190px;
}

.registration .tab .nav-tabs {
    border-bottom: 1px solid transparent;
}

.tab .nav-tabs a:hover,
.tab .nav-tabs a:focus {
    color: #555;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5 !important;
    border-bottom: 1px solid #FFF !important;
}

.nav-tabs {
    border: 0px;
}

.tab .nav-tabs a {
    border: 1px solid transparent;
    background-color: #35cccc;
    margin-right: 0px;
    color: #fff;
}
.tab .nav-tabs .active a {
    border: 1px solid #ffffff;
    background-color: #fff;
}

.registration .main-container {
    background-color: #FFF;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    padding: 15px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

header .navbar a {
    color: #fffefe;
}

header div.col-md-4.icons {
    text-align: center;
    margin: 0 auto;
}

header div.col-md-4.top-right-links {
    text-align: right;
}

header li {
    line-height: 40px;
    vertical-align: middle;
}

header a:active {
    color: #f38eaa;
    border-bottom: 2px solid #f38eaa;
}

.sub-header {
    border-bottom: 1px solid #EDEDED;
}

.main-block {
    background-color: #f1f1f1;
    min-height: 100px;
    padding: 50px 0px;
}

.footer {
    padding-top: 10px;
}

/* form container */
.registration-container .form-group label {
    width: 25%;
    float: left;
}

.registration-container .form-group input,
.registration-container .form-group textarea,
.registration-container .form-group select {
    width: 74%;
    float: right;
}

.registration-container .form-group .clearfix {
    clear: both;
}

.registration-container .form-group {
    margin-bottom: 10px;
}

/* vendor registration step 3 */

.white-block {
    padding: 5px 15px;
    background-color: white;
}

.white-block h2 {
    color: #35cccc;
    font-size: 20px;
    margin-top: 10px;
}

.white-block h4 {
    color: #35cccc;
    font-size: 16px;
}

.white-block ol {
    margin-left: 0px;
    padding-left: 22px;
}

.vendor-upload-images .tab-content {
    background-color: white;
    padding: 15px;
}

.red {
    color: #f38eaa;
}

.head-color h1 {
    color: #35cccc;
    margin-top: 0px;
    font-size: 30px;
    font-weight: normal;
}

.head-color hr {
  color: #35cccc;
  background: #35cccc;
  width: 10%;
  height: 3px;
  margin-bottom: 40px;
}

.no-left-padding {
    padding-left: 0px;
}

.no-right-padding {
    padding-right: 0px;
}

.white-body {
    background-color: white;
    padding: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

.vendor-panel {
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

.vendor-panel .tab {
    margin: 15px 15px 20px;
    text-align: center;
}

#vendor-details .col-sm-6 li,
#vendor-details .col-xs-12 li {
    border-bottom: 0px !important;
    vertical-align: top;
}

.vendor-panel .tab a {
    color: #35cccc;
    font-size: 18px;
}

#vendor-details li {
    border-bottom: 1px solid #CCC !important;
    border-left: 0px;
    border-right: 0px;
}

#vendor-details li.list-group-item h5 {
    margin-bottom: 5px;
}

#vendor-details .form-horizontal .form-group {
    margin-bottom: 5px;
}

#vendor-details li.list-group-item:first-child,
#vendor-details li.list-group-item.no-top-border {
    border-top: 0px;
}

#vendor-details li.list-same-block {
    margin-bottom: 0px;
    border-bottom: 0px !important;
}

#vendor-details li.list-same-block .form-group {
    margin-bottom: 0px;
}

#vendor-details li.list-group-item:last-child {
    border-bottom: 0px !important;
}

/*
.main-block .list-group-item iframe {
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
*/

#vendor-settings {
    padding: 30px;
}

.header .dropdown-menu {
    background-color: #f1f1f1;
}

.header .dropdown-menu a {
    color: #35cccc;
}

.header .dropdown-menu li {
    line-height: 30px;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu.dropdown-menu-left:before {
    left: 9px;
}

.dropdown-menu.dropdown-menu-left:after {
    left: 10px;
}

.dropdown-menu.dropdown-menu-right:before {
    right: 9px;
}

.dropdown-menu.dropdown-menu-right:after {
    right: 10px;
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #f1f1f1;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-menu.row {
    width: 375px;
    margin: 0px;
}

.dropdown-menu.row a:active {
    border: 0px;
    padding: 3px 20px;
}

.red.small {
    line-height: 16px;
    font-size: 13px;
}

.vendor-upload-images .files .col-md-4 {
    padding-bottom: 10px;
    color: #333;
    font-size: 10px;
    text-align: center;
}

.vendor-upload-images .files .col-md-4 a.remove {
  position: absolute;
  top: 0px;
  line-height: 22px;
  background-color: #FFF;
  padding: 2px 5px;
  color: #f38eaa;
  right: 10px;
}

.vendor-upload-images .files .col-md-4 a.remove button {
    color: #FF0000;
    padding-left: 5px;
}

.vendor-upload-images #buttons .btn-default.pull-right {
    margin-left: 5px;
}

/* dropzone */

#dropzone {
    cursor: pointer;
    background: #35cccc;
    width: 250px;
    height: 150px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    width: 100%;
    border-style: dashed;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    max-width: 100%;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: #35cccc;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/* Pinteres like grid  */

*, *:before, *:after {box-sizing:  border-box !important;}

/*
.row {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}
*/

.item {
    display: inline-block;
    padding:  .25rem;
    width:  100%;
}

.well {
    position:relative;
    display: block;
}

/* dashboard*/
.progress {
    background-color: #83e1e3;
    border: 0px solid rgba(245, 245, 245, 1);
    border-radius: 0px;
    height: 23px;
    margin: 0;
}
.progress-bar-custom {background: rgba(66, 139, 202, 1);}
.profile-colour {color: rgb(128,219,220)}
.enquiries-colour {color: rgb(232,43,145)}
.clicks-colour {color: rgb(242,179,198)}
.image-views-block {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* global */
.theme-colour {
    color: #35cccc;
}
.theme-colour-bg {
    background-color: #35cccc !important;
    background-image: none !important;
}
.white-text {
    color: #fff;
}
.white-bg {
    background-color: #fff;
}
.pink-text {
    color: #f08fab;
}
.padding-15 {
    padding: 15px !important;
}
.padding-10 {
    padding: 10px !important;
}
.padding-5 {
    padding: 10px !important;
}
.padding-right10 {
    padding-right: 10px;
}
.font-30 {
    font-size: 30px;
}
.font-25 {
    font-size: 25px;
}
.top20 {
    margin-top: 20px
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.contenthover {
    cursor: pointer;
}

.media-item .text-center {
    padding-top: 10px;
    z-index: 10;
}

.media-item .wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.add-to-my-album .panel-heading {
    background-color: #35cccc !important;
    padding: 8px 10px;
    background-image: none;
    color: white;
}

.add-to-my-album .panel-heading h4 {
    font-weight: normal;
    font-size: 14px;
}

.add-to-my-album .panel-heading h4 a {
    display: block;
    width: 100%;
}

.add-to-my-album .selected-album {
    background-color: #f4f4f4;
    padding: 10px 12px;
    color: #87888c;
}

.add-to-my-album .existent-album {
    background-color: #e7e7e7;
}

.add-to-my-album .panel-default {
    border-color: #FFF;
}

.add-to-my-album .panel-body {
    padding: 0px;
}

.add-to-my-album .existent-album .album {
    color: #777;
    cursor: pointer;
}

.add-to-my-album .existent-album .album.selected,
.add-to-my-album .existent-album .album:hover {
    background-color: #35cccc !important;
    color: #FFF !important;
}

.add-to-my-album .existent-album div {
    padding: 8px 12px 8px 15px;
}

.add-to-my-album .existent-album div.new-album {
    margin: 0px;
    padding: 4px 0px 5px;
}

.add-to-my-album .existent-album div.col-xs-3 {
    padding-left: 0px;
}

.add-to-my-album .existent-album div.new-album input,
.add-to-my-album .existent-album div.new-album .btn {
    width: 100%;
}

.add-to-my-album .comment-album textarea {
    background-color: #f4f4f4;
    border: 0px;
    color: #777;
    height: 80px;
    padding: 10px 15px;
    width: 100%;
    resize: none;
}

.add-to-my-album .actions {
    padding-top: 15px;
}

.add-to-my-album .actions .btn {
    margin-left: 10px;
}

.add-to-my-album {
    background-color: white;
    padding: 35px 35px 10px;
}

.confimation-message {
    padding: 35px 35px 10px;
    font-size: 15px;
}

.confimation-message .glyphicon {
    font-size: 24px;
    float: left;
    padding-right: 2px;
}

/* form */

.fos_user_registration_register .form-control select {
    margin-right: 8px;
    margin-left: 8px;
}

.fos_user_registration_register .form-control select:first-child {
    margin-left: 0px;
}

.fos_user_registration_register .form-control input[type=radio] {
    margin-right: 5px;
    margin-left: 12px;
}

.fos_user_registration_register .form-control input[type=radio]:first-child {
    margin-left: 0px;
}

/* user albums */
.user-albums .user-album {
    padding: 6px;
}

.user-albums .user-album .block {
    background-color: white;
    padding: 0px;
}

.user-albums .user-album img.main {
    padding-bottom: 10px;
}

.user-albums .user-album .title {
    padding: 5px;
    text-align: center;
}

.user-albums .user-album .nbr-images {
    text-align: center;
    color: #777;
    padding: 8px 5px 10px;
}

.user-albums .user-album img {
    padding: 0px;
}

.user-albums .main-image .main {
    width: 100%;
}

.user-albums .thumb-images {
    height: 60px;
}

/* Contact */

.contact-form {
    padding: 30px 10px;
}

/* Panel and Popups */

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: white;         /* adjust as needed */
    font-weight: normal;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.modal-vendor-more-info iframe {
    position: absolute;
    top: 0px;
    width: 96%;
    left: 0px;
    margin: 5px;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.row-more-info .col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.row-more-info .col-sm-6 {
    /*padding-left: 0px;*/
}

.row-more-info .col-sm-6 .theme-colour-bg {
    line-height: 25px;
    vertical-align: middle;
}

.row-more-info .col-sm-4.img-thumbnail {
    padding: 4px;
    cursor: pointer;
    border: 0px;
}

.row-more-info .col-sm-3.vendor-panel textArea {
    background-color: #f1f1f1;
    border: 0px;
}

/* isotope elements - TODO change */

#cards {
    visibility: hidden;
}

/* buttons changes */

.btn {
    background-image: none !important;
}

.btn-xs {
    padding: 4px 12px !important;
    font-size: 12px;
}

.btn-info {
    background-color: #35cccc !important;
    border-color: #3FcFcF !important;
}

/* modal overlay background */
.modal-backdrop {
   background-color: #fff;
   opacity: 0.5;
}
.modal-vendor-more-info .modal-content {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}
.modal-vendor-more-info .modal-content .row > div > div {
    background-color: #fff;
    padding: 0
}
.modal-vendor-more-info #vendor-details .list-group {
    margin: 0
}
.no-border-radius {
    border-radius: 0 !important
}
.modal-vendor-more-info #vendor-details .form-group {
    margin-bottom: 0
}
.modal-vendor-more-info .modal-content .vendor-panel {
    background-color: transparent;
}
.modal-vendor-more-info .modal-content .vendor-others {
    margin-top: 35px
}
.modal-vendor-more-info .modal-content .vendor-others img {
    width: 32%;
    padding: 5px;
    border: none;
    cursor: pointer;
}
/* modal width */
.modal-vendor-more-info.modal .modal-dialog { width: 80%; }

.modal-vendor-more-info .modal-content {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.padding-15 {
  padding: 15px !important;
}

.thumbnails {
    position: relative;
}

.player {
    cursor: pointer;
    position: absolute;
    top: 42%;
    left: 42%;
}

.contenthover {
    padding: 0px;
    width: 100%;
    height: 100%;
    background: rgba(256,256,256,0.35);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.contenthover .btn {

}

.thumbnails:hover .contenthover {
    opacity: 1;
}
.contenthover .popover {
    z-index: 9999;
    /*position: fixed;*/
}
/* icon colour */
.contenthover .el {
    color: #35cccc;
}
.contenthover .popover.bottom ul {
    margin-bottom: 0;
}
.contenthover .popover.bottom ul li {
    margin-bottom: 8px;
}
.contenthover .popover.bottom ul li:last-child {
    margin-bottom: 0;
}
.contents-block {
    background-color: #fff;
    margin-bottom: 15px;
}
.contents-block .vendor-info {
    padding: 5px 0;
    z-index: 10;
    position: relative;
}
.contents-block .vendor-info p {
    margin: 0;
}
/* Popover Background Colour */
#locations .popover.bottom {
    background-color: #eee;
}
/* Popover Arrow */
#locations .popover.bottom .arrow:after {
    border-bottom-color: #eee;
}
/* Popover Corners */
#locations .popover {
    border-radius: 0;
}
#locations .form-group {
    margin-bottom: 8px;
}
.thumbnails {
    width: 100%
}